<div>
			<div class="input-group">
				<span class="input-group-addon">每个项目需要多少专家评审</span>
				<input id="judgeGroupCount" style="width:200px;"
				 onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" 
				 type="text" class="form-control" placeholder="每个项目需要多少专家评审"></input>
			</div><br></br>
		<!--  	<div class="input-group">
				<button type="button"  class="btn btn-info" onclick="setCandidateManageInfo()">设置信息</button>
			</div>
			<br></br>-->
			<div>
				<button type="button"  class="btn btn-info" onclick="setCandidateManageInfo()">一键分组</button>
			</div>
			<br></br>
			<div>
			<!-- <button type="button"  class="btn btn-info" onclick="getProjectGroupingResult()">分组结果导出</button> -->	
			</div>
</div>