<!DOCTYPE html>
<html lang="en">
    <head>   	
        <meta charset="utf-8"/>
       	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="renderer" content="webkit"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        
        <title>后台管理</title>
        
		<link href="/cydspx/css/base.css" rel="stylesheet"></link> 
		<link href="/cydspx/css/dashboard.css" rel="stylesheet"></link> 
		<link href="/cydspx/css/bootstrap-theme.min.css" rel="stylesheet"></link> 
		<link href="/cydspx/css/bootstrap.min.css" rel="stylesheet"></link> 
		
		<script type='text/javascript' src="/cydspx/js/jquery-3.1.0.min.js"></script>	
		<script type='text/javascript' src="/cydspx/js/vue.js"></script>
		<script type='text/javascript' src="/cydspx/js/superadmin.js"></script>
    </head>   

	<body  onload="onload()">
	    <header class="navbar navbar-inverse navbar-fixed-top">
	        <div class="container-fluid">
	            <div class="navbar-header">
	                <a class="navbar-brand" href="/cydspx"><b>辽宁省创业导师评选</b></a>
	            </div>
	            <div id="navbar" class="navbar-collapse collapse">
	              	<ul class="nav navbar-nav navbar-right">
	              		<li><a id="userName" href="#"></a></li>
	                	<li><a href="/cydspx/homepage">退出</a></li>
	              	</ul>
	            </div>
	        </div>
	    </header>
	    <nav>
	        <ul>
	            <li>
	                <a href="#" onclick="getPage('addUserPage')"><span class="glyphicon glyphicon-th-large"></span>添加账户</a>
	            </li>
	            <li>
	                <a href="#" onclick="getPage('userManagePage')" ><span class="glyphicon glyphicon-th-large"></span>账户管理</a>
	            </li>
	            <li><a href="#" onclick="showCandidateManagepage()"><span class="glyphicon glyphicon-th-large"></span>评审分配</a></li>
	            <li><a href="#" onclick="getResultPage()"><span class="glyphicon glyphicon-th-large"></span>结果导出</a></li>
	            <li><a href="#" onclick=""><span class="glyphicon glyphicon-th-large"></span>评分完成情况</a></li>
	            <li><a href="#"><span class="glyphicon glyphicon-th-large"></span>重置密码</a></li>
	        </ul>
	    </nav>
	    <div class="wrapper">
		<!-- <header class="container-title">
				<div>
					<div>
						<button type="button" onclick="showCandidateTable()" class="btn btn-info">查询候选人</button>
						<select id="selectkind" class="selectpicker">
					  		<option>已评分</option>
					  		<option>未评分</option>
						</select>
					</div>
				</div>
			</header> -->
			<div class="content" id="candidateTable">
				
			</div>
		</div>
	</body>
	


	<script>
		function onload(){
			$.ajax({
				url: '/cydspx/getuserinfo',
				type: 'get',
			  	dataType: 'json',
			  	success: function(data){
				  	$("#userName").html(data.userName+" 欢迎您");
			  	}
			});
		}
	</script>
</html>