body{
    /*background-image: url(/img/background.jpg);*/
    background-size: 100% auto;
    background-repeat: no-repeat;
/*     background-color:rgb(233,248,249); */
}

#basecontent{
	width:100%;
	margin:0 auto;
}

#headerpic{
    height:80px;
}
#errorcontent{
    color:white;
}
a{
    outline:none!important;
}
a:hover,a:focus{
    text-decoration:none;
    color:white;
}
.masthead{
    border:5px solid #88C1E7;
    /*border-radius:20px;*/
    height:-5px;
    padding:2px;
}
.menu-list{
    border:1px solid #ccc;
    background-color: white;
    /*background-image:url(/static/images/menubutton/middle_down.png);*/
    /*background-size:cover;*/
    /*border-radius:20px;*/
    width:205px;
    
}
.main-container{
    padding-left:3px;
    padding-right:3px;
}
.mycontent{
    background-color:#FAFAFA;
    min-height:870px;
   /* border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;*/
    border:1px solid white;
}
.no-nav{
    /*border-top-left-radius:15px;
    border-top-right-radius:15px;*/
    min-height:900px!important;
}



.menu-button-middle{
    color:#444444;
    width:100%;
    background-color: white;
    /*background-image:url(/static/images/menubutton/middle_down.png);*/
    /*background-size:cover;*/
    border-top:1px solid gray;

    height:40px;
    outline:none;
    /*color:white;   */
    font-size:20px;
    display:block;
    text-align:left;
    /*line-height:50px;*/
    padding-left: 15px;
    padding-top:5px;
}
.menu-button-middle:hover{
    background-color:rgb(0,114,227);
}

.highlight{
    background-color: rgb(0,114,227);
    color:#ffffff;
}

.main-content{
 /*border-radius:20px;*/
    border:3px solid white;
    min-height:900px;
    max-height:910px;
    overflow:auto;
    margin-left:-25px;
    margin-right:-1px;
}
.menu-blank{
    background-color:red;
}
.navbar-button{
    width:100%;
    height:30px;
    line-height:30px;
    /*background-image:url(/static/images/menubutton/logo.jpg);*/
    /*background-size:cover;*/
    border:0px ;
    outline:none;
    color:black;   
    font-size:16px;
    font-weight:bold;
    display:block;
    text-align:center;
}
.traincss{
	margin-top:50px;
}
.trainbtn{
	padding:15px;
/* 	text-align:right; */
}
.navbar-button-left{
    /*border-top-left-radius:18px;*/
}

.navbar-button-right{
    /*border-top-right-radius:18px;*/
}
.nopadding{
    padding-right:0px;
    padding-left:0px;
}
.nomargin{
    margin-left:0px;
    margin-right:0px;
}

.navbar-button:hover{
    background-image:url(/static/images/logo.jpg);
    background-size: cover;
}

/*#headerpic{
    height:80px;
    background-image:url(/static/images/banner.png);
}*/
#welcome_word{
    font-size:25px;
    line-height:80px;
    color:rgb(255,87,90);
    margin-right:20px;
}

.nav-left{
    padding-left: 60px!important;
}

.backgrd{
    background-image: url(/static/images/dh.jpg);
    background-size:cover;
}




.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


body{
/* 	background-image: -ms-linear-gradient(to bottom, #82d0ef 0, #def4fd 100%)!important; */
/* 	background-image: -moz-linear-gradient(to bottom, #82d0ef 0, #def4fd 100%)!important; */
/* 	background-image: -webkit-linear-gradient(to bottom, #82d0ef 0, #def4fd 100%)!important; */
    background-image: linear-gradient(to bottom, #82d0ef 0, #def4fd 100%)!important;
}
.navbar-inverse{
	padding:5px 0;
	background-image: linear-gradient(to bottom, #476788 0, #83d1ef 100%)!important;
	border-bottom:1px solid #2bb8e2!important;
}
.navbar-inverse .navbar-brand{
	font-size:26px;
	color: #fff!important;
	text-shadow:3px 3px 3px #525151!important;
}
.navbar-inverse .navbar-nav > li > a{
	color: #fff!important;
}
.container{
	width:80%;
}
nav{
    width:16%;
    height:720px;
    margin:20px;
    margin-top:30px;
    float:left;
    background:#fff;
    box-sizing:border-box;
}
nav ul{
	padding:0;
	list-style:none;
}
nav ul li{
	width:100%;
	border-bottom:1px solid #ccc;
}
nav ul li a{
	width:100%;
	height:40px;
	line-height:40px;
	color:#444;
	background:#fff;
	font-size:20px;
	display:block;
	padding-left:15px;
	text-decoration:none;
}
nav ul li a:hover{
	color:#fff;
	background:#53aad4;
	text-decoration:none;
}
nav ul li a span{
	margin-right:20px;
	color:#6099ca;
}
nav ul li a:hover span{
	color:#fff;
}

.wrapper{
	width:78%;
	padding:20px 20px;
	margin-top:30px;
	background:#fff;
	margin-left:20%!important;
	box-sizing:border-box;
}
.wrapper .container-title{
	width:100%;
	height:40px;
	background:#fff;
	font-size:24px;
	border-bottom:1px solid #BDE1EC;
	margin-bottom:20px;
}
.wrapper .content{
	width:100%;
	height:620px;
	overflow-y:scroll;
	overflow-x:hidden;
	background:#fff;
}

