<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	    <meta name="renderer" content="webkit"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    <meta name="keywords" content="" />
	    <meta name="author" content="" />
		<title>辽宁省创业导师评选</title>
		<link rel="stylesheet" href="/cydspx/css/bootstrap.min.css"></link>
		<link rel="stylesheet" href="/cydspx/css/base.css"></link>
		<link rel="stylesheet" href="/cydspx/css/dashboard.css"></link> 
		<link rel="stylesheet" href="/cydspx/css/bootstrap-theme.min.css"></link>
		<link rel="stylesheet" href="/cydspx/css/schooladmin/addcandidate.css"></link>
	</head>
	<body  onload="onload()">
	    <header class="navbar navbar-inverse navbar-fixed-top">
	        <div class="container-fluid">
	            <div class="navbar-header">
	                <a class="navbar-brand" href="/cydspx"><b>辽宁省创业导师评选</b></a>
	            </div>
	            <div id="navbar" class="navbar-collapse collapse">
	              	<ul class="nav navbar-nav navbar-right">
	              		<li><a id="userName" href="#"></a></li>
	                	<li><a href="/logout">退出</a></li>
	              	</ul>
	            </div>
	        </div>
	    </header>
	    <nav>
	        <ul>
	            <li>
	                <a href="#"><span class="glyphicon glyphicon-th-large"></span>提交候选人信息</a>
	            </li>
	            <li>
	                <a href="#"><span class="glyphicon glyphicon-th-large"></span>查看候选人信息</a>
	            </li>
	            <li><a href="#"><span class="glyphicon glyphicon-th-large"></span>修改密码</a></li>
	        </ul>
	    </nav>
	    <div class="container">
			<header class="container-title">
				提交候选人信息
			</header>
			<div class="content">
				<form action="" method="post" id="applyForm">
				    <fieldset class="upload">
				    	<legend>文件上传</legend>
				        <div class="uploadpictrue">
				            <div class="showpictrue">
				                <img src="/cydspx/image/candidate.jpg" alt="" id="pic"></img>
				            </div>
				            <input type="file" id="uploadPic"></input>
				            <input type="button" id="uploadPicBtn" value="上传头像"></input>
				            <span class="required-span">*</span>
				            <br/>
				            <span>
				                <strong>注意:</strong><br/>1、请上传导师近期免冠正面彩色头像<br/>2、文件使用导师的证件号码命名
				                <br/>3、格式为JPG，大小在5-80K之间<br/>4、图像规格宽度在90-480像素之间<br/>5、高度在100-640像素之间
				            </span>
				        </div>
				        <div class="uploadfile">
				            <input type="file" id="uploadFile"></input>
				            <input type="button" id="uploadFileBtn" value="上传导师个人简历"></input>
				            <span class="required-span">*</span>
				            <br/>
				            <span>
				                <strong>注意:</strong><br/>1、上传的简历文件用于给评审专家评审时查看
				                <br/>2、建议简历中包含左侧表单中包含的所有项<br/>3、文件格式为word或pdf
				            </span>
				        </div>
				    </fieldset>
				    <fieldset>
				        <legend>基本信息</legend>
				        <div class="row">
				            <div class="col-md-6">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</span>
				                        <input type="text" class="form-control" name="candidatename"></input>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-6">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</span>
				                        <select v-model="sexSelected" class="select" name="sex">
				                            <option v-for="option in sex" v-bind:value="option.value">
				                                {{ option.text }}
				                              </option>
				                        </select>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				        </div>
				        <div class="row">
				            <div class="col-md-6">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">民&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;族</span>
				                        <input type="text" class="form-control" name="nation"></input>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-6">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">出生日期</span>
				                        <input type="text" class="form-control" name="birthday" placeholder="格式如：20161007"></input>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				        </div>
				        <div class="row">
				            <div class="col-md-6">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">政治面貌</span>
				                        <select v-model="politicsSelected" class="select" name="politics">
				                            <option v-for="option in politics" v-bind:value="option.value">
				                                {{ option.text }}
				                              </option>
				                        </select>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-6">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">国家/地区</span>
				                        <input type="text" class="form-control" name="country"></input>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				        </div>
				        <div class="row">
				            <div class="col-md-6">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">证件类型</span>
				                        <select v-model="certificateSelected" class="select" name="certificatetype">
				                            <option v-for="option in certificate" v-bind:value="option.value">
				                                {{ option.text }}
				                              </option>
				                        </select>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-6">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">证件号码</span>
				                        <input type="text" class="form-control" name="certificatenum"></input>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </fieldset>
				    <fieldset>
				        <legend>联系方式</legend>
				        <div class="row">
				            <div class="col-md-6">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">联系地址</span>
				                        <input type="text" class="form-control" name="address"></input>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-6">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">邮政编码</span>
				                        <input type="text" class="form-control" name="postcode"></input>
				                    </div>
				                </div>
				            </div>
				        </div>
				        <div class="row">
				            <div class="col-md-6">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">移动电话</span>
				                        <input type="text" class="form-control" name="mobilephone"></input>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-6">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">固定电话</span>
				                        <input type="text" class="form-control" name="telephone" placeholder="区号-电话号码"></input>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				        </div>
				        <div class="row">
				            <div class="col-md-6">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">电子邮箱</span>
				                        <input type="email" class="form-control" name="email"></input>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				
				        </div>
				    </fieldset>
				    <fieldset>
				        <legend>学历信息</legend>
				        <div class="row">
				            <div class="col-md-6">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">学历类别</span>
				                        <input type="text" class="form-control"></input>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-6">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">层&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;次</span>
				                        <input type="text" class="form-control"></input>
				                    </div>
				                </div>
				            </div>
				        </div>
				        <div class="row">
				            <div class="col-md-6">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">学科门类</span>
				                        <input type="text" class="form-control"></input>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-6">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">学位类别</span>
				                        <input type="text" class="form-control"></input>
				                    </div>
				                </div>
				            </div>
				        </div>
				        <div class="row">
				            <div class="col-md-6">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">院校名称</span>
				                        <input type="text" class="form-control" name="college"></input>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-6">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">专业名称</span>
				                        <input type="text" class="form-control" name="major"></input>
				                    </div>
				                </div>
				            </div>
				        </div>
				        <div class="row">
				            <div class="col-md-6">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">行&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业</span>
				                        <input type="text" class="form-control"></input>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-6">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;务</span>
				                        <input type="text" class="form-control" name="duty"></input>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				        </div>
				        <div class="row">
				            <div class="col-md-6">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称</span>
				                        <input type="text" class="form-control"></input>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-6">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">工作单位</span>
				                        <input type="text" class="form-control" name="workunit"></input>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				        </div>
				        <div class="row">
				            <div class="col-md-12">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">原始推荐单位</span>
				                        <input type="text" class="form-control" name="recommend" placeholder="推荐该导师的高校名称"></input>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				        </div>
				        <div class="row">
				        	<div class="col-md-12">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">服务意向</span>
				                        <div class="select">
				                            <span v-for="option in serve">
				                                <input type="checkbox" name="serve" v-bind:id="option.value" v-bind:value="option.text" v-model="servechecked"></input>
				                                {{option.text}}
				                            </span>
				                        </div>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
			           	</div>
				    </fieldset>
				    <fieldset>
				        <legend>工作简历</legend>
				        <textarea class="form-control experience" name="experience" rows="8" cols="50" placeholder="参加创新创业教育工作或从事创新创业工作简历,400字以内"></textarea>
				    </fieldset>
				    <fieldset class="special-fieldset" id="prize-info">
				        <legend>获奖信息<span>近五年以来在(含指导)创新创业教育方面所获成果和奖励，点击右边加号添加新项，最多填写三项，没有可以不填</span></legend>
				        <span class="add-btn" id="add-prize-btn">+</span>
				        <div class="row first-row">
				            <div class="col-md-12">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">成果名称</span>
				                        <input type="text" class="form-control" name="achievementname"></input>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				        </div>
				        <div class="row first-row">
				            <div class="col-md-4">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">获奖年份</span>
				                        <input type="text" class="form-control" name="year" placeholder="格式如:2016"></input>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-7">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">级&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</span>
				                        <div class="select">
				                            <span v-for="option in prizegrade">
				                                <input type="radio" name="prize1" v-bind:value="option.value" v-model="prizepicked1"></input>
				                                <label>{{option.text}}</label>
				                            </span>
				                        </div>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-1">
				            	<span class="delete-btn">-</span>
				            </div>
				            
				        </div>
				        <div class="row first-row">
				            <div class="col-md-12">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">成果名称</span>
				                        <input type="text" class="form-control" name="achievementname"></input>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				        </div>
				        <div class="row first-row">
				            <div class="col-md-4">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">获奖年份</span>
				                        <input type="text" class="form-control" name="year" placeholder="格式如:2016"></input>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-7">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">级&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</span>
				                        <div class="select">
				                            <span v-for="option in prizegrade">
				                                <input type="radio" name="prize2" v-bind:value="option.value" v-model="prizepicked2"></input>
				                                <label>{{option.text}}</label>
				                            </span>
				                        </div>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-1">
				                <span class="delete-btn">-</span>
				            </div>
				            
				        </div>
				        <div class="row first-row">
				            <div class="col-md-12">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">成果名称</span>
				                        <input type="text" class="form-control" name="achievementname"></input>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				        </div>
				        <div class="row first-row">
				            <div class="col-md-4">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">获奖年份</span>
				                        <input type="text" class="form-control" name="year" placeholder="格式如:2016"></input>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-7">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">级&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</span>
				                        <div class="select">
				                            <span v-for="option in prizegrade">
				                                <input type="radio" name="prize3" v-bind:value="option.value" v-model="prizepicked3"></input>
				                                <label>{{option.text}}</label>
				                            </span>
				                        </div>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-1">
				                <span class="delete-btn">-</span>
				            </div>
				            
				        </div>
				    </fieldset>
				    <fieldset class="special-fieldset" id="elect-info">
				        <legend>参评信息<span>近五年以来担任创新创业教育方面项目评审专家、社会兼职情况，点击右边加号添加新项，最多填写三项，没有可以不填</span></legend>
				        <span class="add-btn" id="add-elect-btn">+</span>
				        <div class="row first-row">
				            <div class="col-md-12">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">评审项目名称</span>
				                        <input type="text" class="form-control" name="projectname"></input>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				        </div>
				        <div class="row first-row">
				            <div class="col-md-4">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">参与评审年份</span>
				                        <input type="text" class="form-control" name="year" placeholder="格式如:2016"></input>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-7">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">级&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</span>
				                        <div class="select">
				                            <span v-for="option in electgrade">
				                                <input type="radio" name="elect1" v-bind:value="option.value" v-model="electpicked1"></input>
				                                <label>{{option.text}}</label>
				                            </span>
				                        </div>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-1">
				                <span class="delete-btn">-</span>
				            </div>
				            
				        </div>
				        <div class="row first-row">
				            <div class="col-md-12">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">评审项目名称</span>
				                        <input type="text" class="form-control" name="projectname"></input>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				        </div>
				        <div class="row first-row">
				            <div class="col-md-4">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">参与评审年份</span>
				                        <input type="text" class="form-control" name="year" placeholder="格式如:2016"></input>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-7">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">级&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</span>
				                        <div class="select">
				                            <span v-for="option in electgrade">
				                                <input type="radio" name="elect2" v-bind:value="option.value" v-model="electpicked2"></input>
				                                <label>{{option.text}}</label>
				                            </span>
				                        </div>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-1">
				                <span class="delete-btn">-</span>
				            </div>
				            
				        </div>
				        <div class="row first-row">
				            <div class="col-md-12">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">评审项目名称</span>
				                        <input type="text" class="form-control" name="projectname"></input>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				        </div>
				        <div class="row first-row">
				            <div class="col-md-4">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">参与评审年份</span>
				                        <input type="text" class="form-control" name="year" placeholder="格式如:2016"></input>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-7">
				                <div class="form-group">
				                    <div class="input-group">
				                        <span class="input-group-addon">级&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</span>
				                        <div class="select">
				                            <span v-for="option in electgrade">
				                                <input type="radio" name="elect3" v-bind:value="option.value" v-model="electpicked3"></input>
				                                <label>{{option.text}}</label>
				                            </span>
				                        </div>
				                        <span class="required-span">*</span>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-1">
				                <span class="delete-btn">-</span>
				            </div>
				            
				        </div>
				    </fieldset>
				    <input type="submit" id="submitBtn" value="确认提交"></input>
				</form>			
			</div>
	    </div>
		
		
		<script src="/cydspx/js/jquery-3.1.0.min.js"></script>
    	<script src="/cydspx/js/bootstrap.min.js"></script>
    	<script src="/cydspx/js/jquery.validate.min.js"></script>
    	<script src="/cydspx/js/vue.js"></script>
    	<script src="/cydspx/js/schooladmin/addcandidate.js"></script>
    	<script>
			function onload(){
				$.ajax({
					url: '/cydspx/getuserinfo',
					type: 'get',
				  	dataType: 'json',
				  	success: function(data){
					  	$("#userName").html(data.userName+" 欢迎您");
				  	}
				});
			}
		</script>
	</body>
</html>